<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="currencyConverterSelenium">
	<listeners>
		<listener class-name="com.currencyconverter.utilities.Reporting" />
	</listeners>
	<test name="Currency Converter Online">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.currencyconverter.testCases.TC_Currency_Converter_001" />
		</classes>
	</test>
</suite>